* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(29,45,68);
    background: linear-gradient(128deg, rgba(29,45,68,1) 0%, rgba(65,82,98,1) 100%);    
    color: white;
    font-family: 'poppins', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

/* Form */

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.9rem;
    font-size: 1rem;
    border: none;
    background: white;
}

form input {
    min-width: 30%;
}

form button {
    color: #3d5a80 ;
    background: white;
    cursor: pointer;
    transition: all, 0.3s, ease;
}

form button:hover {
    background: #3d5a80;
    color: white;
}

/* Todos */

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    background: white;
    color: black;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: #3d5a80;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background-color: #2a9d8f;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotate(30deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color:#3d5a80;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after {
    content: '\25bc';
    position: absolute;
    background: white;
    color: #3d5a80;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: #3d5a80;
    color: white;
}